{% load dict_key_extras %}

<table id="table-{{data.document}}-{{group}}" class="display data-table" style="margin-bottom: 0em; width:100%; border: None">
    <thead>
        {% if data.menu %}
            <th> <input type="checkbox" id="select_all_{{group}}" onchange="selectAll(this, '{{group}}')"> </th>
        {% endif %}
        <th>Name</th>
        <th>Template</th>
        {% if data.usernames %}
            <th>User</th>
        {% endif %}
        <th>Actions</th>
    </thead>
    <tbody>
        {% for data_loaded in objects %}
            {% cycle 'even' '' as rowcolors silent %}
            <tr class="{{ rowcolors }}" objectid="{{data_loaded.form.id}}">
                {% if data.menu %}
                <td id="actionCheckbox">
                    <input type="checkbox" id={{data_loaded.form.id}} name={{group}}>
                </td>
                {% endif %}
                <td>
                    {{ data_loaded.form.name }}
                </td>
                <td>
                    {{ data_loaded.template }}
                </td>
                {% if data.usernames %}
                <td>
                    {% with key=data_loaded.form.user %}
                      {{ data.usernames|get:key }}
                    {% endwith %}
                </td>
                {% endif %}
                <td>
                    {% if come_from_admin %}
                        <a class="btn btn-default view-form-btn"
                           href="{% url 'admin:core_curate_view_form' data_loaded.form.id %}">
                            <i class="fa fa-file-text-o"></i> View
                        </a>
                    {% else %}
                        <a class="btn btn-default view-form-btn"
                           href="{% url 'core_curate_view_form' data_loaded.form.id %}">
                            <i class="fa fa-file-text-o"></i> View
                        </a>
                    {% endif %}
                    <a class="btn btn-default edit-form-btn" href="{% url 'core_curate_enter_data' data_loaded.form.id %}">
                        <i class="fa fa-edit"></i> Edit
                    </a>

                    <a class="btn btn-default delete-document-btn">
                        <i class="fa fa-trash"></i> Delete
                    </a>

                    <a class="btn btn-default change-owner-btn">
                        <i class="fa fa-user-circle-o"></i> Change Owner
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>