{% block title %}
<h1><span>My Profile</span></h1>
{% endblock %}

{% block content%}
<div class="btn-group pull-right">
	<button class="btn" onclick=" location.href='{% url 'core_dashboard_profile_edit' %}'">
        <i class="icon-file"></i> Edit Profile
    </button>
	<button class="btn" onclick=" location.href='{% url 'core_dashboard_profile_change_password' %}'">
        <i class="icon-hdd"></i> Change Password
    </button>
</div>

<table style="width:50%">
    <tr>
        <td><b>Name:</b></td>
        <td>{{ user.first_name }} {{ user.last_name }}</td>
    </tr>
    <tr>
        <td><b>Username:</b></td>
        <td>{{ user.username }}</td>
    </tr>
    <tr>
        <td><b>Email:</b></td>
        <td>{{ user.email }}</td>
    </tr>
    <tr>
        <td><b>Admin:</b></td>
        <td>{{ user.is_staff }}</td>
    </tr>
    <tr>
        <td><b>Active:</b></td>
        <td>{{ user.is_active }}</td>
    </tr>
    <tr>
        <td><b>Superuser:</b></td>
        <td>{{ user.is_superuser }}</td>
    </tr>
    <tr>
        <td><b>Last Login:</b></td>
        <td>{{ user.last_login }}</td>
    </tr>
    <tr>
        <td><b>Date Joined:</b></td>
        <td>{{ user.date_joined }}</td>
    </tr>
</table>
{% endblock %}
