{% block title %}<h1><span>My Profile - Edit</span></h1>{% endblock %}

{% block content%}
Use the following form to edit your information.
<div>
<form action="{% url 'core_dashboard_profile_edit' %}" method="post">
 	{% csrf_token %}
    {{ data.form }}
    <div id="profile_error" style="font-weight: bold;">
    {{ data.action_result }}
    </div>
    <button type="button" class="btn btn-default" onclick="location.href='{% url 'core_dashboard_profile' %}'"><i class="fa fa-close"></i> Cancel </button>
    <input type="submit" class="btn" value="Edit Profile"/>
</form>
</div>
{% endblock %}


