{% load staticfiles %}

{% block title %}
    <h1><span>{% if not user.is_staff %}My {% endif %}Published Records</span></h1>
{% endblock %}

{% block content %}
    <div id="body">
            {% if user.is_staff %}
            <ul  class="nav nav-tabs">
                        <li class="active"> <a href="#admin" data-toggle="tab" onclick="resetCheckbox();" style="text-decoration:none;">Admin</a> </li>
                        <li><a href="#others" data-toggle="tab" onclick="resetCheckbox();" style="text-decoration:none;">Others</a> </li>
            </ul>
            <div class="dropdown" id="id_actions" style="display:none">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Choose action
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {% for value, text in data.action_form.fields.actions.choices %}
                        <li style="cursor:  pointer;" onclick="action_dashboard({{value}});">{{text}}</li>
                    {% endfor %}
                </ul>
            </div>
            {%endif%}
            <br/>
            <div class="tab-content">
              {% if user.is_staff %}
			  <div class="tab-pane active" id="admin" style="width:98%">
                {% if data.user_data %}
                  {% include 'core_dashboard_app/list/my_dashboard_my_records_table.html' with loaded_data=data.user_data group='admin' %}
                {% else %}
                    No published record found.
                {% endif %}
              </div>
              <div class="tab-pane" id="others" style="width:98%">
                {% if data.other_user_data %}
                  {% include 'core_dashboard_app/list/my_dashboard_my_records_table.html' with loaded_data=data.other_user_data group='other' %}
                {% else %}
                    No other users published records found.
                {% endif %}
              </div>
             {% else %}
                <div class="tab-pane active" id="user" style="width:98%">
                {% if data.user_data %}
                    {% include 'core_dashboard_app/list/my_dashboard_my_records_table.html' with loaded_data=data.user_data group='user' %}
                {% else %}
                    No published record found.
                {% endif %}
              </div>
             {% endif %}
            </div>
	</div>
    <div class="clear"></div>
<hr>
{% endblock %}
