{% block title %}
<h2>My Profile</h2>
{% endblock %}

{% block content%}
<div class="btn-group pull-right">
	<a class="btn btn-default" onclick=" href='{% url 'core_dashboard_profile_edit' %}'">
        <i class="icon-file"></i> Edit Profile
    </a>
	<a class="btn btn-default" onclick=" href='{% url 'core_dashboard_profile_change_password' %}'">
        <i class="icon-hdd"></i> Change Password
    </a>
</div>
<br/><br/>
<div>
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <td><b>Name:</b></td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
        </tr>
        <tr>
            <td><b>Username:</b></td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td><b>Email:</b></td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td><b>Admin:</b></td>
            <td>{{ user.is_staff }}</td>
        </tr>
        <tr>
            <td><b>Active:</b></td>
            <td>{{ user.is_active }}</td>
        </tr>
        <tr>
            <td><b>Superuser:</b></td>
            <td>{{ user.is_superuser }}</td>
        </tr>
        <tr>
            <td><b>Last Login:</b></td>
            <td>{{ user.last_login }}</td>
        </tr>
        <tr>
            <td><b>Date Joined:</b></td>
            <td>{{ user.date_joined }}</td>
        </tr>
    </table>
</div>
{% endblock %}
